<!DOCTYPE html>
<head>

    <title>Contact</title>
</head>
<body>
   
    <%- include("layout/header") %>

<main>

<h1>shaber ahmad</h1>
<p>khulna bangladesh</p>

</main>

<%- include("layout/footer") %>

</body>
</html>